* {
  margin: 0
}

.container {
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /*background-color: #6699cc;*/
}
.container .left{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
.container h1 {
  /*color: white;*/
  font-family: sans-serif;
  margin: 20px;
}

.registartion-form
 {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: sans-serif;
  /*background-color: #154a68;*/
  padding: 20px;
   color: var(--dark);
}

    .registartion-form .inp,
    .registartion-form .in{
        border: none;
        padding: 5px;
        margin-top: 10px;
        font-family: sans-serif;
    }

.registartion-form .inp:focus{
  box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
   color: var(--dark);
}

.registartion-form .submit {
  width: 100%;
  padding: 8px 0;
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
}

.registartion-form .submit:hover {
  box-shadow: 3px 3px 6px rgb(255, 214, 176);

}